{
    "leverage": null,
    "symbol": null,
    "rsi_min": null,
    "rsi_max": null,
    "is_order_limit": true,
    "limit_order_adjust": null,
    "sl_percent": null,
    "amount_usdt": null,
    "margin_mode": ""
}